spring:
  profiles:
    group:
      local: common, domain, infra
      prod: common, domain, infra

springdoc:
  swagger-ui:
    persist-authorization: true
    default-models-expand-depth: -1
server:
  shutdown: graceful

jwt:
  secret-key: ${JWT_SECRET_KEY}
  refresh-token:
    header: Refresh-value

---
spring:
  config:
    activate:
      on-profile: local
jwt:
  access-token:
    expiration: 25920000
server:
  port: 8989
---
spring:
  config:
    activate:
      on-profile: prod
jwt:
  access-token:
    expiration: 25920000